@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
h1{
    background-color: black;
    font-size: 60px;
    color: yellow;
    font-family: 'Poppins', sans-serif;
}
p{
    background-color:pink;
    font-size: 20px;
    color: black;
}