@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #0C3B2E;
}
.left{
  width: 60%;
  height: 50%;
  padding: 5%;
  color: #ffffff;
  height: 100vh;
}
h1{
    font-size: 60px;
}
.right{
    width: 40%;
    height: 50%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.first{
    margin-top: 60px;
    font-size: 25px;
}
.second{
    margin-top: 30px;
    font-size: 25px;
}
.button {
    margin-top: 70px;
  }
  
  .button a {
    display: inline-block;
    padding: 10px 50px;
    background: orange;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    transition: all 0.5s ease;
  }
  
  .button a:hover {
    background: black;
    color: orange;
  }