
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: white;
}

.two-column-layout {
    /* height: 450px; */
    height: max-content;
    display: flex;
    overflow: hidden;
}

.left-column,
.right-column {
    width: 50%;
}

.left-column {
    background-color: #008817;
    padding: 5%;
}

    .heading {
        margin-bottom:20px;
    }

    .content{
        margin-bottom: 80px;
    }

    .venue {
        margin-bottom: 40px;
    }

    .primary-button {
        border: none;
        background: none;
    }
    .primary-button a {
        background-color: #FFC300;
        color: #000;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 700;
    }
.right-column .image img {
    width: 100%;
    object-fit: cover;
}